example/flow.json
[
    {
        "id": "e138dee68410cf5e",
        "type": "inject",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1000,
        "wires": [
            [
                "ce542de951a538e3"
            ]
        ]
    },
    {
        "id": "ce542de951a538e3",
        "type": "function",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "func": "msg.payload = {\n    name: \"22211x1\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "949ebb93c1712e10"
            ]
        ]
    },
    {
        "id": "1eaf6479b83efc6d",
        "type": "debug",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e4d024305c219b83",
        "type": "soap-request",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "url": "http://127.0.0.1:7777/test?wsdl",
        "method": "x1",
        "x": 750,
        "y": 1120,
        "wires": [
            [
                "f5a4e19d3d650f3c"
            ]
        ]
    },
    {
        "id": "ab33dd01b8d2673a",
        "type": "inject",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1120,
        "wires": [
            [
                "bd091105bbd2d8e7"
            ]
        ]
    },
    {
        "id": "bd091105bbd2d8e7",
        "type": "function",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "func": "msg.payload = {\n    name: \"22211x1\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1120,
        "wires": [
            [
                "e4d024305c219b83"
            ]
        ]
    },
    {
        "id": "f5a4e19d3d650f3c",
        "type": "debug",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 1120,
        "wires": []
    },
    {
        "id": "11751a27728594a9",
        "type": "soap-server",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "port": "7777",
        "ip": "127.0.0.1",
        "pathname": "/test",
        "servername": "testname",
        "portname": "testportname",
        "funcnames": "x1,x2",
        "x": 290,
        "y": 1300,
        "wires": [
            [
                "c3dd638d10ad1f83",
                "e2191372ff743aca"
            ]
        ]
    },
    {
        "id": "c3dd638d10ad1f83",
        "type": "debug",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 1440,
        "wires": []
    },
    {
        "id": "708e4c5d6d15ea35",
        "type": "soap-response",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "x": 960,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e2191372ff743aca",
        "type": "switch",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "property": "payload.func",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "x1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "x2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 1300,
        "wires": [
            [
                "76fdcf62310d508d"
            ],
            [
                "fb8db9160cea47c9"
            ]
        ]
    },
    {
        "id": "76fdcf62310d508d",
        "type": "function",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1260,
        "wires": [
            [
                "708e4c5d6d15ea35"
            ]
        ]
    },
    {
        "id": "fb8db9160cea47c9",
        "type": "function",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "func": "msg.payload = {\n    wo: \"xx2\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1340,
        "wires": [
            [
                "39696f3ca71b2fee"
            ]
        ]
    },
    {
        "id": "39696f3ca71b2fee",
        "type": "soap-response",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "x": 960,
        "y": 1340,
        "wires": []
    },
    {
        "id": "949ebb93c1712e10",
        "type": "soap-request",
        "z": "aee7f7c4.afcdf8",
        "name": "",
        "url": "http://127.0.0.1:7777/test?wsdl",
        "method": "x2",
        "x": 750,
        "y": 1000,
        "wires": [
            [
                "1eaf6479b83efc6d"
            ]
        ]
    }
]